{%extends 'base.html'%}
{% load static %}
{%block script%}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{%static 'cu_main1.js'%}" defer></script>
{%endblock script%}

{%block content%}
<div class="w3-bar w3-black">
   <a href="/logout"> LogOut</a>
    <button class="w3-bar-item w3-button" onclick="openCustomer('custmore')">Custmore</button>
    <div id="custmore" class="w3-container city">
        <div id='cust_list1'> </div>
    </div>
  </div>

  {%endblock content%}